<style>
    #div_books img{
        cursor: pointer;    
    }

    #div_books .bi-cart4{
        cursor: pointer;
        color:red;
        font-size: 1.8rem;
    }
</style>
    <!--커서가 포인터-->


<div class="row my-5">
    <div class="col">
        <!-- 검색폼-->
        <div class="row justify-content-end mb-2">
            <form name = "frm" class = "col-6 col-md-4 col-lg-3">
                <div class="input-group">
                    <input name = "query" class="form-control" value="자바">
                    <button class="btn btn-primary">검색</button>
                </div>
            </form>
        </div>
        <!-- 도서검색 결과 출력-->
        <div id="div_books" class ="row"></div>
        <!--페이지 이동 버튼-->
        <div class="text-center">
            <button id="prev" class="btn btn-primary">이전</button>
            <span id="span_page" class="mx-3">1/10</span>
            <button id="next" class="btn btn-primary">다음</button>
        </div>
    </div>
</div>

<!--변수(index는 @ 붙여주기)--> 
<!--도서검색 템플릿-->
<!--@this : 나 자신의 오브젝트 값 저장-->

<script type="x-handlebars-template" id="temp_books">  
    {{#each documents}}
         <div class="col-6 col-md-4 col-lg-2 mb-3">
            <div class="card">
                <div class ="card-body">
                    <img src="{{check thumbnail}}" width="90%" index ="{{@index}}">   
                    <div class="ellipsis pt-3" style="font-size:0.8rem;">
                        {{title}}
                    </div>
                </div>
                <div class ="card-footer">
                    {{format price}}
                    <i class="cart bi bi-cart4 float-end" book="{{book @this}}"></i>   
                </div>
            </div>
        </div>
        <%-include('books/modal.ejs')%>
    {{/each}}
</script>

<script>
    Handlebars.registerHelper("check", function(thumbnail){
        if(thumbnail){
            return thumbnail;
        } else {
            return "http://via.placeholder.com/120x170";
        }
    });

    Handlebars.registerHelper("format", function(price){
        if(price) return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + '원';
    });

    Handlebars.registerHelper("book", function(book){
        return JSON.stringify(book);    // object => String 변환
    })

</script>

<script type="module">/////시험 나옴

    import { app } from "/javascripts/firebase.js";
    import { getDatabase, ref, set, get } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-database.js";

    const db=getDatabase(app);////시험 나옴

    let query=$(frm.query).val();
    let page =1;

    getBooks();


    $("#div_books").on("click", ".cart",async function(){///시험
        if(!sessionStorage.getItem("uid")){
            location.href="/users/login";
            return;
        }



        const book=JSON.parse($(this).attr("book"));
        const ref_cart=ref(db,`cart/${sessionStorage.getItem("uid")}/${book.isbn}`);
        const result = await get(ref_cart);
        console.log(result.val());

        if(result.val()){
            alert("이미 장바구니에 담김");
        }else{
            if(!confirm("장바구니 추가하실래욜?")) return;
            set(ref_cart, book);
            alert("장바구니에 추가되었습니다");
        }
    });



    // 이미지를 클릭한 경우
    $("#div_books").on("click","img",function(){
        let index = $(this).attr("index");   //this -> 이미지(이미지를 클릭했으니까!)
        $("#modal"+index).modal("show");
        
    })


    $(frm).on("submit", function(event){
        event.preventDefault();
        query=$(frm.query).val();
        page=1;
        getBooks();
    })

    // 다음 버튼 클릭한 경우
    $("#next").on("click",function(){
        page++;
        getBooks();
    });

    // 다음 버튼 클릭한 경우
    $("#prev").on("click",function(){
        page--;
        getBooks();
    });

    function getBooks(){
        $.ajax({
            type:"get",
            url:"https://dapi.kakao.com/v3/search/book?target=title",
            headers:{"Authorization":"KakaoAK 946e2e15a15fff0476418e755bb41a6f"},
            data:{query:query, page:page, size:6},
            success:function(result){
                console.log(result);
                let temp=Handlebars.compile($("#temp_books").html());
                $("#div_books").html(temp(result));

                let last = Math.ceil(result.meta.pageable_count/6);
                $("#span_page").html(page + " / " + last);

                if(page==1) $("#prev").attr("disabled", true)
                else $("#prev").attr("disabled", false);

                if(result.meta.is_end) $("#next").attr("disabled", true)
                else $("#next").attr("disabled", false)
            }
        })
    }
</script>