<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">HOME</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/books">도서검색</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/locals">지역검색</a>
          </li>
          <li class="nav-item" id="cart" style="display:none;">
            <a class="nav-link active" aria-current="page" href="/books/cart">장바구니</a>
          </li>
          <li class="nav-item" id="favorite" style="display:none;">
            <a class="nav-link active" aria-current="page" href="/locals/favorite">즐겨찾기</a>
          </li>
        </ul>
        <ul class="navbar-nav d-flex">
            <li class="nav-item" id="login">
              <a class="nav-link active" aria-current="page" href="/users/login">로그인</a> 
            </li>
            <li class="nav-item" id="email" style="display: none;">
              <a class="nav-link active" aria-current="page" href="/users/login">email</a> 
            </li>
            <li class="nav-item" id="logout" style="display: none;">
              <a class="nav-link active" aria-current="page" href="/users/login">로그아웃</a> 
            </li>
          </ul>
      </div>
    </div>
  </nav>

  <!-- toggle : 반전-->
  <script>
    if(sessionStorage.getItem("email")){//로그인했을때 보이는것들
      $("#login, #email, #logout, #cart, #favorite").toggle();  
      $("#email a").html(sessionStorage.getItem("email"));
    }

    // 로그아웃 메뉴를 클릭한 경우
    // 태그 가져오려면 그냥 쓰기 a 태그 -> a
    $("#logout").on("click","a", function(event){
        event.preventDefault();
        if(confirm("정말 로그아웃하시나요?")){
          sessionStorage.clear();
          location.href="/";
        } else {
          alert("로그아웃을 하지 않으셨습니다!")
        }
    })
  </script>